

<div id="home">
  <div class="container">
      <div class="row">
          <div class="col-8 offset-1">
        <h1>Welcome to Gamma</h1>
        <hr>
          </div>  
      </div>
      <div class="row">
        <div class="col offset-1">
            {{!-- begin tabbing --}}
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="/">Vocabulary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/favorites">Favorites</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/submit">Submit Content</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
              {{!-- end tabbing  --}}
  <br>
        <div class="row">
          <div class="col-5 offset-1">
           <div class="card"> 
           <div class="card-body">
           <h1 class="card-title" > Word of the Day:</h1>
                <p class="lead" id="word_itself"></p>
                <hr class="my-4">
                <p id="word_definition"></p>
                <br>
                <p id="example_use"></p>
                <p class="lead">
                <a class="btn btn-primary btn-lg" href="/dictionary" role="button">See More Words</a>
                </p>
                </div> 
            </div>     
          </div>
          <div class="col-2">
             <div class="card" style="width: 16rem; height:24rem">
            <div class="card-body">
            <h5 class="card-title">Missed a day?</h5>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <br>
            <p>Have no fear! We're keeping track of your weekly words right here!</p>
            <a href="/wordOfWeek" class="card-link">Link</a>
            </div>
            </div>
          </div>
          <div class="col-3 offset-1">
           <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>Create an account or login</p>
      <a href="/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/login" class="btn btn-secondary btn-block">Login</a>
              </div>
          </div>
        </div>    
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/js/index.js"></script>